.footer {
    &__wrapper {
        height: 100px;
    }
    &__copyright {
        padding: 17px;
        height: 60px;
        background: #000000;
        display: flex;
        justify-content: space-between;

        &__payment {
            display: flex;
            gap: 7px;
        }

        a {
            color: #979797;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
        }
    }
}