.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000;
    height: 80px;
    padding: 0px 20px;

    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;

    z-index: 11;

    &__cart {
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }

    &__goback {
        padding-right: 35px;
    }

    &__title {
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        color: #FFFFFF;
        text-transform: uppercase;
        margin-right: 30px;
    }

    &--checkout {
        .header__logo {
            flex: 1;
            text-align: center;
            padding-right: 40px;
        }
    }
}